<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin - Free Bulma template</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../css/bulma.css">
  <link rel="stylesheet" href="../demo/morris.css">
  <link rel="stylesheet" type="text/css" href="../css/admin.css">
</head>
<body>
  <div class="columns">
    <aside class="column is-2 aside hero is-fullheight is-hidden-mobile">
      <div>
        <div class="main">
          <div class="title"><img src="../images/bulma.png" alt="Description"></div>
         <a href="alunos.html" class="item"><span class="name">Alunos</span></a>
          <a href="notas.html" class="item"><span class="name">Notas</span></a>
          <a href="participacao.html" class="item"><span class="name">Participação</span></a>
          <a href="certificado.html" class="item"><span class="name">Certificado</span></a>
        </div>
      </div>
    </aside>
    <div class="column is-10 admin-panel">
	
			<nav class="nav has-shadow" id="top">
			
			<div class="container">
			<div class="nav-left">
			<a class="nav-item" href="../index.html">

			</a>
			</div>
			<span class="nav-toggle">
			<span></span>
			<span></span>
			<span></span>
			</span>


			<div class="nav-right nav-menu is-hidden-tablet">
		  <a href="alunos.html class="item active"><span class="name">Alunos</span></a>
          <a href="notas.html" class="item"><span class="name">Notas</span></a>
          <a href="participacao.html" class="item"><span class="name">Participação</span></a>
          <a href="certificado.html" class="item"><span class="name">Certificado</span></a>
			</div>


			</div>
			</nav>
					
					<section class="section">

					<p class="panel-heading">
					Valodia Pilquevitch
					</p>
					<div class="panel-block">
					<table class="table">
					


					<thead>
					<tr>
					<th>Matrícula</th>
					<th>Nome</th>
					<th>Sobrenome</th>
					<th>Email</th>
					<th>Senha</th>
					<th></th>
					<th></th>
					<th></th>
					</tr>
					</thead>

					<tfoot>
					<tr>
					<th>Matrícula</th>
					<th>Nome</th>
					<th>Sobrenome</th>
					<th>Email</th>
					<th>Senha</th>
					<th></th>
					<th></th>
					<th></th>
					</tr>
					</tfoot>

					<tbody>
					
					<tr>
					<th>19845721</th>
					<th>Valodia</th>
					<th>Pilquevitch</th>
					<th>valodia.pilquevitch@butantan.gov.br</th>
					<th>**********</th>
					<th>Notas</th>
					<th>Editar</th>
					<th>Excluir</th>
					</tr>
					

					</tbody>

					</table>
					</div>
					</section>
			
					<section class="section">

					<p class="panel-heading">
					Edição de Participação
					</p>
					<div class="panel-block">
					
										<div class="tabs is-centered">
  <ul>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-file-text-o"></i></span>
        <span>Ciclo 01</span>
      </a>
    </li>
	
	<li>
      <a>
        <span class="icon is-small"><i class="fa fa-file-text-o"></i></span>
        <span>Ciclo 02</span>
      </a>
    </li>
	
	<li>
      <a>
        <span class="icon is-small"><i class="fa fa-file-text-o"></i></span>
        <span>Ciclo 03</span>
      </a>
    </li>
  </ul>
</div>

					<table class="table">

					<thead>
					<tr>
						<th>Descrição</th>
						<th>Módulo 01</th>
						<th>Módulo 02</th>
						<th>Módulo 03</th>
						<th>Módulo 04</th>
						<th>Módulo 05</th>
						<th>Módulo 06</th>
					</tr>
					</thead>

					<tfoot>
					<tr>
						<th>Descrição</th>
						<th>Módulo 01</th>
						<th>Módulo 02</th>
						<th>Módulo 03</th>
						<th>Módulo 04</th>
						<th>Módulo 05</th>
						<th>Módulo 06</th>
					</tr>
					</tfoot>

					<tbody>
					
					<tr>
					<th>Atividade Individual</th>
					<th><input type="text" class="input-participacao" value="75">%</th>
					<th><input type="text" class="input-participacao" value="75">%</th>
					<th><input type="text" class="input-participacao" value="75">%</th>
					<th><input type="text" class="input-participacao" value="75">%</th>
					<th><input type="text" class="input-participacao" value="75">%</th>
					<th><input type="text" class="input-participacao" value="75">%</th>
					</tr>
					
					<tr>
					<th>Atividade Em Grupo</th>
					<th><input type="text" class="input-participacao" value="75">%</th>
					<th><input type="text" class="input-participacao" value="75">%</th>
					<th><input type="text" class="input-participacao" value="75">%</th>
					<th><input type="text" class="input-participacao" value="75">%</th>
					<th><input type="text" class="input-participacao" value="75">%</th>
					<th><input type="text" class="input-participacao" value="75">%</th>
					</tr>
					
					<tr>
					<th>Participação</th>
					<th><input type="text" class="input-participacao" value="75">%</th>
					<th><input type="text" class="input-participacao" value="75">%</th>
					<th><input type="text" class="input-participacao" value="75">%</th>
					<th><input type="text" class="input-participacao" value="75">%</th>
					<th><input type="text" class="input-participacao" value="75">%</th>
					<th><input type="text" class="input-participacao" value="75">%</th>
					</tr>
					
					<tr>
					<th>Gameficação</th>
					<th><input type="text" class="input-participacao" value="75">%</th>
					<th><input type="text" class="input-participacao" value="75">%</th>
					<th><input type="text" class="input-participacao" value="75">%</th>
					<th><input type="text" class="input-participacao" value="75">%</th>
					<th><input type="text" class="input-participacao" value="75">%</th>
					<th><input type="text" class="input-participacao" value="75">%</th>
					</tr>
					
					<tr>
					<th>Web conferencia</th>
					<th><input type="text" class="input-participacao" value="75">%</th>
					<th><input type="text" class="input-participacao" value="75">%</th>
					<th><input type="text" class="input-participacao" value="75">%</th>
					<th><input type="text" class="input-participacao" value="75">%</th>
					<th><input type="text" class="input-participacao" value="75">%</th>
					<th><input type="text" class="input-participacao" value="75">%</th>
					</tr>
					
					<tr>
					<th>TCC</th>
					<th><input type="text" class="input-participacao" value="75">%</th>
					<th><input type="text" class="input-participacao" value="75">%</th>
					<th><input type="text" class="input-participacao" value="75">%</th>
					<th><input type="text" class="input-participacao" value="75">%</th>
					<th><input type="text" class="input-participacao" value="75">%</th>
					<th><input type="text" class="input-participacao" value="75">%</th>
					</tr>
					
					
					
					</tr>
					</tbody>

					</table>
					  <a class="button is-success">
    <span class="icon is-small">
      <i class="fa fa-check"></i>
    </span>
    <span>Save</span>
  </a>
					</div>
					</section>
			
          </div>
         
          
           
<footer class="footer">
  <div class="container">
    <div class="has-text-centered">
      <p>
        <strong>Bulma</strong> by <a href="http://jgthms.com">Jeremy Thomas</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
      </p>
      <p>
        <a class="icon" href="https://github.com/jgthms/bulma">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>
<script async type="text/javascript" src="../js/bulma.js"></script>
<script type="text/javascript" src="../demo/jquery.js"></script>
<script type="text/javascript" src="../demo/raphael.min.js"></script>
<script type="text/javascript" src="../demo/morris.js"></script>
<script type="text/javascript" src="../demo/admin.js"></script>
</body>
</html>